* { margin: 0; padding: 0; box-sizing: border-box; }
body { background-color: #e6f7ff; }

.app { margin: 50px auto; overflow: hidden; background-color: lightblue; }

.item { display: flex;justify-content: center;align-items: center; border: 1px solid #fff; transition: all .3s; float: left; background-repeat: no-repeat; background-size: cover;}
.item:before{ display: inline-block; color:#fff; font-size:14px; text-shadow: 1px 1px 3px #000; opacity: .3; }

.goal{ background-image: url("./img/goal.png") } /* 河水 */
.xz { background-image: url("./img/xz.png"); }  /* 箱子 */
.qb { background-image: url("./img/qb.png"); } /* 墙壁 */
.rw { background-image: url("./img/rw_bottom.png"); } /* 人物 */
.rw.rw_left { background-image: url("./img/rw_left.png") !important; } /* 人物 */
.rw.rw_right { background-image: url("./img/rw_right.png") !important; } /* 人物 */
.rw.rw_top { background-image: url("./img/rw_top.png") !important; } /* 人物 */
.rw.rw_bottom { background-image: url("./img/rw_bottom.png") !important; } /* 人物 */
.goal.xz { background-image: url("./img/success.png"); }

.info { text-align: center; width: 100%; }
.info button { width: 50px; height: 30px; }
